<!doctype html>
<html ng-app="NarrowItDownApp" lang="en">

<head>
    <script src="../src/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" type="image/png" href="../favicon.ico">
</head>

<body>
    <div ng-controller="NarrowItDownController as menu" class="container">
        <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form-group">
            <input type="text" ng-model="menu.searchTerm" placeholder="search term" class="form-control">
        </div>
        <div class="form-group narrow-button">
            <button class="btn btn-primary" ng-click="menu.narrowItems();">Narrow It Down For Me!</button>
        </div>
        <div style="clear:both;"></div>
        <div class="not-found" ng-if="menu.nothingFoundF() === false">Nothing found</div>
        <!-- <ul>
            <li ng-repeat="item in menu.found">{{item.name}}
                <button ng-click="menu.removeItem($index);">Remove</button>
            </li>
        </ul> -->

        <!-- found-items should be implemented as a component -->
        <found-items class="found-items" my-items="menu" on-remove="menu.removeItem(index)"></found-items>
        <!-- <found-items found-items="menu.found" on-remove="menu.removeItem(index)"></found-items> -->
    </div>

</body>

</html>