body {
    font-size: 1.2em !important;
    width: 90%;
    margin-left: 20px;
}

.error {
    color: red;
    font-weight: bold;
    display: none;
}

.loading-icon {
    position: absolute;
    left: 50%;
    top: 10px;
}

.active {
    font-weight: bold;
}

li[ui-sref]:hover {
    display: inline-block;
    cursor: pointer;
    border: solid black 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.categories {
    float: left;
    width: 490px;
}

.items {
    float: left;
    margin-left: 500px;
}